{% load staticfiles %}
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <h1>Help Page</h1>
        <p>It's just a help page !</p>
        <img src="{% static "images/pro.jpg" %}" />
    </body>
</html>