{% load staticfiles %}
<html>
    <head>
        <title>Title Here</title>
    </head>
    <body>
        <h1>This is a heading</h1>
        {% if user_list %}
            {% for user in user_list %}
                {{ user.fname }} {{ user.lname }}<br/>
            {% endfor %}
        {% endif %}
    </body>
</html>