<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <h1>Login  Now</h1>
    <form method="POST">
        
            {{ login_form.aquits_p }}
            {% csrf_token %}
        
        <input type="submit" name="submit" id="" value="Login">
    </form>
</body>
</html>