<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1>Fill in the blanks to Register:</h1>
    {% if register_form %}
    <form action="" method="POST">
        {{ register_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
        
    {% endif %}
</body>
</html>